{% macro pagination_macro(pagination, endpoint) %}

<ul class="pagination">
    <li class="page-item {% if not pagination.has_previous %} disabled {% endif %}">
        <a class="page-link">&laquo;</a>
    </li>

    {% for p in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

    {% if p %}
    <li class="page-item"><a class="page-link" href="{{ url_for(endpoint,page=p,**kwargs) }}{{fragment}}">{{p}}</a></li>
    {% endif %}

    {% endfor %}

    <li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
        <a class="page-link" href="#">&raquo;</a>
    </li>
</ul>

{% endmacro %}