{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('main.static',filename='css/styles.css')}}">
{% endblock %}

{%block page_content%}
<div class="featured-movie"></div>ł
<main class="container">
    <div class="search input-group">
        <div class="search__prepend input-group-prepend">
            <div class="search__prepend-icon-container input-group-text"><i class="search__icon fas fa-search"></i>
            </div>
        </div>
        <input type="text" class="search__input form-control" placeholder="">
    </div>
    <div class="search-results container d-flex align-content-start align-items-start justify-content-around flex-wrap">
    </div>
    <div class="fetching-info d-none">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p class="mt-2">Loading next page...</p>
    </div>
    <div class="scroll-to-top">
        <img class="scroll-to-top__icon" src={{url_for('main.static',filename='assets/arrow-up-square-fill.svg' )}}
            alt="scroll-to-top-icon">
    </div>
</main>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="module" src={{url_for('main.static',filename='js/index.js' )}}></script>
{% endblock %}