[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pylint = "*"
black = "*"
click = "*"
flask-wtf = "*"
gunicorn = "*"
flask-pagedown = "*"
bleach = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
