[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pylint = "*"
black = "*"
click = "*"
flask-wtf = "*"
gunicorn = "*"
flask-pagedown = "*"
bleach = "*"
markdown = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
python-dotenv = "*"
email-validator = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
